.link-especial{
	color: red;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}

.link-especial:hover{
	color: gray;
	font-size: 22px;
	font-weight: bolder;
	text-decoration: underline;
	cursor: move;
}

.link-especial:active{
	color: gray;
	font-size: 10px;
	text-decoration: line-through;
	cursor: move;
}

a:visited{
	color: magenta;
	font-size: 22px;
	font-weight: lighter;
	text-decoration: underline;
	cursor: move;
}