<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Controllers - Route provider</title>
  
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
  <script>
  
(function(angular) {
'use strict';

/* App Module */
angular.module('demoApp', ['ngRoute'])

.controller('HomePageCtrl', function($scope, $routeParams) {
	  $scope.title = "Hello AngularJS2 student!"
	  $scope.news = "This is the home page.  You have several links you can click on.  Try them out."
	})
.controller('UsersListCtrl', function($scope, $routeParams) {
	$scope.users = ["Lorenzo", "Thomas", "Fabio", "John", "Pluto", "Peter"]
	})
.controller('UsersDetailCtrl', function($scope, $routeParams) {
    // Get rider ID from the url
    $scope.username = $routeParams.id;
	})
.controller('ExperienceCtrl', function($scope, $routeParams) {
    // Get rider ID from the url
    $scope.ability1 = $routeParams.skill1;
    $scope.ability2 = $routeParams.skill2;
    $scope.ability3 = $routeParams.skill3;
	
	})
	
.config(['$routeProvider', 
  function( $routeProvider) {
  // Define routes 
  $routeProvider.
    when('/homepage', 
        { templateUrl: 'partial/homepage.html',
          controller: 'HomePageCtrl'}).

    when('/users', 
        { templateUrl: 'partial/users.html',
          controller: 'UsersListCtrl'}).	

     when('/users/:id',
     { templateUrl: 'partial/user.html',
        controller: 'UsersDetailCtrl'}).

     when('/contacts',
        { templateUrl: 'partial/contacts.html',
          controller: ContactPageCtrl}).

     when('/experience/skill1/:skill1/skill2/:skill2/skill3/:skill3',
        { templateUrl: 'partial/experience.html',
          controller: 'ExperienceCtrl'}).

    otherwise({redirectTo: 'homepage'});
  }]);
})(window.angular);  
 
 


/**
 * Concat Page Controller
 */
function ContactPageCtrl($scope) {

    $scope.signin = function () {

        /*
         NOTE: here you might call the server side service to login
         */

        // Display Error
        $scope.errorMsg = true;

        alert("LOGIN: " + $scope.username + " - " + $scope.password)

    }
}
  </script>
</head>


<body ng-app="demoApp">
  <hr>
  <div>
  <strong>TEST DESCRIPTION:</strong>
  </div>
  <div>
  <p>
  The exam is solved as follows:<br>
  1. Implement a new ExperienceCtrl at the module level;  This controller takes "skill1", "skill2", and "skill3" properties from the routeParam service 
  and assigns them to counterpart properties in the scope named "ability1", "ability2", and "ability3" respectively;
  <br>
  2. The module configuration changes so it detects URL of this form '/experience/skill1/:skill1/skill2/:skill2/skill3/:skill3'.  The 
  strings preceeded by : such as ":skill1" means that that specific string matches a parameter value and that the parameter key is 
  the string "skill1", example: /skill1/:skill1
  This means that :skill1 will get a value instead of the workd "skill1" and that value will be assigned to the property called "skill1" in the $routeParams service.
  <br>
  3. A new tab is provided as follows in the form of a new link.  The href property will have this format:
  <br>"#/experience/skill1/java/skill2/perl/skill3/unix"
  <br>Each student needs to substitute java, perl, and unix for their top 3 skills in the IT field.
  <br>
  The value of the HREF will read "My Professional Experience"
  <br>
  4. A new template called "experience.html" is added that prints the following message: <br>
  My 3 main IT abilities are java, perl, and unix
  <br> where java, perl, and unix were provided by the link.
  

  
  
  </p>
  </div>
  <hr>

<!-- MENU -->
<div class="text-center" >
    <h2>ngRoute/ngView demo</h2>

    <div class="btn-group">

        <a class="btn btn-primary" href="#/homepage">HOME</a>
        <a class="btn btn-primary" href="#/users">USERS:</a>

        <a class="btn  btn-default" href="#/users/thomas">Thomas</a>
        <a class="btn btn-default" href="#/users/fabio">Fabio</a>
        <a class="btn btn-default" href="#/users/lorenzo">Lorenzo</a>
        <a class="btn btn-primary" href="#/contacts">CONTACTS</a>
		
		<!--	EXAM ADD ON. 	-->
        <a class="btn btn-primary" href="#/experience/skill1/java/skill2/perl/skill3/unix">My Professional Experience</a>
		


    </div>
</div>

<hr>

<!-- VIEW CONTAINER -->
<div ng-view></div>
    

    
<!-- 
Inline Templates (Partials) 
In a real scenario you will create several external html files
-->
    
<!-- HOMEPAGE VIEW -->
<script type=text/ng-template id=partial/homepage.html>
  <div class="jumbotron">    
    <h1>{{title}}</h1>
    <p class="lead">{{news}}</p>
  </div>
</script>


 <!-- USERS VIEW  -->   
<script type=text/ng-template id=partial/users.html>
<h2>ALL USERS</h2>
    <!-- SEARCH BOX -->
    <input type="search" class="form-control"
           ng-model="search"
           placeholder="search user">
    <hr>
    <ul class="list-group">
        <!--USER LIST-->
        <li class="list-group-item"
            ng-repeat="item in users | filter: search">
            <!--RANDOM IMAGE-->
            <img src="http://lorempixel.com/50/50/sports/{{$index}}"  
                class="img-circle">
            <!--LINK TO USER DETAILS-->
            <a ng-href="#/users/{{item}}">{{item}}</a>
        </li>
    </ul>
</script>

<!-- USER DETAILS -->    
<script type=text/ng-template id=partial/user.html>
      <h2>USER VIEW: {{username}}</h2>
</script>

<!-- CONTACTS -->
<script type=text/ng-template id=partial/contacts.html>    
  <div class="jumbotron">Contact form</div>
</script>
    
<!-- EXAM ADD ON -->
<script type=text/ng-template id=partial/experience.html>    
      <h2>My 3 main IT abilities are {{ability1}}, {{ability2}}, and {{ability3}}</h2>
</script>


</body>


</html>