<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/mvc/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Hello World Example (Lesson 2)</description>
    <display-name>HelloWorldServlet</display-name>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>com.softtek.java.academy.web.lesson2.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/HelloWorldServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Credit Card Validation Servlet</description>
    <display-name>CreditCardValidationServlet</display-name>
    <servlet-name>CreditCardValidationServlet</servlet-name>
    <servlet-class>com.softtek.java.academy.web.lesson2.CreditCardValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditCardValidationServlet</servlet-name>
    <url-pattern>/CreditCardValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Get Product Details as XML</description>
    <display-name>GetProductDetailsServlet</display-name>
    <servlet-name>GetProductDetailsServlet</servlet-name>
    <servlet-class>com.softtek.java.academy.web.lesson2.GetProductDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductDetailsServlet</servlet-name>
    <url-pattern>/GetProductDetailsServlet</url-pattern>
  </servlet-mapping>
</web-app>