<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>SOAP</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/application-context.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>web-service</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/spring-mvc.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>web-service</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- 
	Servlet for simplified dispatching of Web service messages. 
	
	This servlet is a convenient alternative to the standard Spring-MVC DispatcherServlet with separate 
	WebServiceMessageReceiverHandlerAdapter, MessageDispatcher, and WsdlDefinitionHandlerAdapter instances. 
	This servlet automatically detects EndpointAdapters, EndpointMappings, and EndpointExceptionResolvers by 
	type. 
	
	This servlet also automatically detects any WsdlDefinition defined in its application context. This WSDL is 
	exposed under the bean name: for example, a WsdlDefinition bean named 'echo' will be exposed as echo.wsdl in 
	this servlet's context: http://localhost:8080/spring-ws/echo.wsdl. When the transformWsdlLocations init-param 
	is set to true in this servlet's configuration in web.xml, all location attributes in the WSDL definitions will reflect 
	the URL of the incoming request. 
	-->
	<servlet>
		<servlet-name>spring-ws</servlet-name>
		<servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/spring-ws.xml</param-value>
		</init-param>
		<init-param>
			<param-name>transformWsdlLocations</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring-ws</servlet-name>
		<url-pattern>/ws/*</url-pattern>
	</servlet-mapping>
	
</web-app>
 